body {
    background-color: black;
    color: white;
    display: flex;
}

#logo {
    width: 45%;
    position: absolute; 
    left: 35rem;
    top: 5rem;  
}

.asteroids{
    position: absolute;
    left: 80rem;
    top: 21rem;
}

.cobra{
    position: absolute;
    left: 50rem;
    top: 21rem;
}

.pacman{
    position: absolute;
    left: 20rem;
    top: 21rem;
}

.pong{
    position: absolute;
    left: 35rem;
    top: 38rem;
}

.tetris{
    position: absolute;
    left: 65rem;
    top: 38rem;
}

.asteroids, .cobra, .pacman, .pong, .tetris{
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: border-color 0.3s, padding 0.3s;
}

.asteroids:hover, .cobra:hover, .pacman:hover, .pong:hover, .tetris:hover {
    border-color: orange;
    padding: 14px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.pacman-animacao {
    position: absolute;
    top: 50%;
    left: -550px; 
    width: auto;
    height: 100px; 
    z-index: 9999;
    display: flex; 
    align-items: center; 
    transition: left 7s linear;
}

.pacman-animacao img {
    width: 100px;
    z-index: 1;
}

.pacman-animacao2 {
    position: absolute;
    top: 50%;
    right: -550px;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    transition: right 7s linear;
}

#assustado {
    width: 100px;
    height: auto;
    z-index: 1;
}

#pacman-animacao2 {
    width: 100px;
    height: 100px;
    transform: scaleX(-1); 
}

.pacman-animacao2 img:last-child {
    margin-left: 0;
}